<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/no.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>.py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}</style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <header>
      <main><h4><span style="color: blue"><em>Oxford and Cambridge Society of New England</em> <img src="images/oxcamne_no_pad.png" alt="logo" style="float:left;width:100px" /></span></h4></main>
      <!-- Navigation bar -->
      <nav class="default">
        <!-- Logo -->
        <a href="https://www.oxcamne.org"; target="_blank"><b> Home</b></a>
        <!-- Do not touch this -->
        <label for="hamburger">☰</label>
        <input type="checkbox" id="hamburger">
        <!-- Left menu ul/li -->
        [[block page_left_menu]]
        [[try:
        if access:]]
        <a href="[[=URL('members')]]"><b> members</b></a>
        <a href="[[=URL('events')]]"><b> events</b></a>
        <a href="[[=URL('accounting')]]"><b> accounts</b></a>
        <a href="https://sites.google.com/oxcamne.org/help-new/home?authuser=1"; target="_help"><b> help</b></a>
        [[pass]]
        [[except:
          pass
        pass]]
        [[end]]
        <!-- Right menu ul/li -->
        <ul>
          <li>
            <a href="[[=URL('index')]]"><b> MyAccount</b></a>
            <a href="[[=URL('logout')]]"><b> Logout</b></a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- beginning of HTML inserted by extending template -->
    <center>
      <div>
        <!-- Flash alert messages, first optional one in data-alert -->
        <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
      </div>
      <main class="padded">
        <!-- content injected by extending page -->
        [[include]]
      </main>
    </center>
    <!-- end of HTML inserted by extending template -->
    <footer class="default padded">
      <p>
        Made with py4web
      </p>
    </footer>
  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
