<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="64582CF6D203ACC4ABB0E1C70DE08530" />
    
    <!-- Add favicon link -->
    <link rel="shortcut icon" href="/oxcam/static/favicon.ico" type="image/x-icon">

    <!-- Add structured data markup for your logo -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.oxcamne.org",
      "logo": "https://oxcamne.pythonanywhere.com/oxcam/static/images/oxcamne_no_pad.png"
    }
    </script>

    <link rel="stylesheet" href="css/no.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <style>
      .py4web-validation-error{margin-top:-16px; font-size:0.8em;color:red}
      .grid-table-wrapper {overflow-x: auto;}
    </style>
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
    <style>
      body ul {
        list-style-type: disc;
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <main>[[=XML(PAGE_BANNER)]]</main>
      <!-- Navigation bar -->
      <nav class="default">
        <!-- Logo -->
        <!-- Do not touch this -->
        <label for="hamburger">☰</label>
        <input type="checkbox" id="hamburger">
        <!-- Left menu ul/li -->
        [[block page_left_menu]]
        <ul>
          [[try:
              if menu:
                =XML(menu)
              pass
          except:
              pass]]
        </ul> 
        [[end]]
        <!-- Right menu ul/li -->
        <ul>
          <li>
            <a href="[[=URL('index')]]">MyAccount</a>
            <ul>
              <li><a href="[[=URL('directory')]]"><b> Directory</b></a></li>
              <li><a href="[[=URL('logout')]]"><b> Logout</b></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!-- beginning of HTML inserted by extending template -->
    <center>
      <div>
        <!-- Flash alert messages, first optional one in data-alert -->
        <flash-alerts class="padded" data-alert="[[=globals().get('flash','')]]"></flash-alerts>
      </div>
      <main class="padded">
        <!-- content injected by extending page -->
        [[include]]
      </main>
    </center>
    <!-- end of HTML inserted by extending template -->
    <footer class="default padded">
      <p>
        Made with py4web
      </p>
    </footer>
  </body>
  <!-- You've gotta have utils.js -->
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
